<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/adminLogin.css" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div>
        <h1>admin Login</h1>
      </div>

      <div>
        <form action="" id="adminForm">
          <label for="">Email</label>
          <input type="email" name="" id="loginEmail" />
          <label for="">Password</label>
          <input type="password" name="" id="loginPassword" />
          <button type="submit">Login</button>
        </form>
      </div>
      <div
        id="errorMessage"
        style="display: none; color: red; margin-top: 10px"
      ></div>
    </section>

    <script src="/AdminLogin.js"></script>
  </body>
</html>
